.barContainer {
  background-color: var(--global--color-primary);
  color: var(--global--color-primary-white);
  display: flex !important;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
  transition: all 0.3s ease;
}
